#icons-maincontainer{
    background-color: #4e4e4e;
height: 0;}
.main-icons{
    color: white;
    margin: 0 0 0 900px ;
    display: flex;
    padding: 90px 0 0 0;
}
@media (max-width: 768px) {
    .main-icons{
        color: white;
        margin: 0 0 0 400px ;
        display: flex;
        padding: 65px 0 0 0;
    }


}

@media(max-width:320px){
    .main-icons {
        color: white;
        margin: 0 0 0 175px;
        display: flex;
        padding: 70px 0 0 0;
    }
}