#footer-main{
    background-color:#D9D9D9;
    width: 100%;
    height: 100%px;

}

#footer-contents{
    display: flex;
}
#footer-heading1{
width: 749.96px;
height: 276px;
font-family: 'Calibri';
font-style: normal;
font-weight: 700;
font-size: 69.4703px;
line-height: 100%;
margin: 0 0 0 145px;
padding: 90px 0 0 0;
display: flex;
align-items: center;
text-transform: uppercase;
-webkit-text-stroke: 2px black;
-webkit-text-fill-color: transparent;
}
#footer-heading2{
width: 364px;
height: 69px;
font-family: 'Calibri';
font-style: normal;
font-weight: 700;
font-size: 69.4703px;
line-height: 100%;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
margin: -140px 0 0 540px;

}
#footer-heading2-line{
    width: 414.52px;
height: 0px;
left: 523.18px;
top: 263.2px;
margin: -33px 0 0 520px;
border: 1.4018px solid #000000;
transform: rotate(0.01deg);
}
.footer-logo{
    margin: 160px 0 0 100px;
}
#footer-para{
width: 356.56px;
height: 180px;
margin: 200px 0 0 40px;
font-family: 'Calibri';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 130%;
}
#footer-address{
    width: 154.27px;
height: 112px;
left: 848.93px;
top: 470.93px;

font-family: 'Calibri';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 130%;
/* or 16px */

letter-spacing: 1px;

/* NeuBlack */

color: #000000;

}
#footer-open{
    width: 154.27px;
height: 32px;
left: 848.93px;
top: 631.95px;

font-family: 'Calibri';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 130%;
/* or 16px */

letter-spacing: 1px;

/* NeuBlack */

color: #000000;
}
#footer-aboutUs{
    margin: 200px 0 0 100px;
}
#footer-para2{
    width: 180.62px;
height: 64px;
left: 1114.34px;
top: 470.93px;

font-family: 'Calibri';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 130%;
/* or 16px */

letter-spacing: 1px;

/* NeuBlack */

color: #000000;

}
#footer-contact{
    float: right;
    margin: -190px 0 0 350px;
}

/* Tab setting */
@media (max-width: 768px) {
    .footer-logo {
        margin: 0 0 0 240px;
    }
    #footer-heading1 {
        width: 75%;
        height: 276px;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 50.4703px;
        line-height: 100%;
        margin: 0 0 0 145px;
        padding: 90px 0 0 0;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        -webkit-text-stroke: 2px black;
        -webkit-text-fill-color: transparent;
    }
    #footer-para {
        width: 430.56px;
        height: 180px;
        margin: 60px 0 0 215px;
        font-family: 'Calibri';
        font-style: normal;
        font-size: 16px;
        line-height: 130%;
    }
    #footer-contents{
        display: block;
    }
    #footer-contact {
        margin: -174px 0 0 440px;
    }
    #footer-aboutUs{
        margin: 100px 0 0 100px;
    }
}

@media only screen and (max-width: 600px) {
    #footer-contents{
        display: block;
    }
    #footer-heading1 {
        width: 70%;
        height: 276px;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 25.4703px;
        line-height: 100%;
        margin: 0 0 0 145px;
        padding: 90px 1px 0px 0px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        -webkit-text-stroke: 2px black;
        -webkit-text-fill-color: transparent;
        margin: 0 0 0 75px;
    }
    .footer-logo {
        margin: 55px 0 0 70px;
    }
    #footer-para {
        width: 70%;
        height: 180px;
        margin: 60px 0 0 73px;
        font-family: 'Calibri';
        font-style: normal;
        font-size: 14px;
        line-height: 130%;
        padding: 10px;
    }
    #footer-aboutUs {
        margin: 145px 0 205px 88px;
        height: 100%;
    }
    #footer-contact {
        margin: -146px 48px 15px 321px;
        height: 100%;
    }


}