#blog-main{
    width: 100%;
    height: 800px;
}
#blog-content-main{
    display: flex;
}
#blog-h1{
    width: 219px;
    height: 100%;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: white;
    margin: 110px 0 0 125px;
    -webkit-text-stroke: 1px #d9d8d8;
	-webkit-text-fill-color: transparent;
}
#blog-h2{
    width: 334px;
    height: 100%;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 20px 0 0 284px;
}
#blog-h2-line{
    width: 315.88px;
    height: 0px;
    /* left: 92.93px; */
    /* top: 172px; */
    border: 1.6px solid #FFFFFF;
    margin: -48px 0 0 220px;
}
.blog-box{
    width: 440px;
    height: 408px;
    left: 0px;
    top: 0px;
    background: white;
    mix-blend-mode: normal;
    opacity: 0.2;
    margin: 130px 0 0 125px;
    border-top-left-radius: 145px;
}
#blog-box-nm{
    width: 171px;
    height: 120px;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 168px;
    line-height: 120px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: uppercase;
    transform: rotate(-90deg);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: -170px 0 0 140px;
    -webkit-text-stroke: 2px white;
	-webkit-text-fill-color: transparent;

}
#blog-content{
    color: white;
    margin: 336px 0 0 100px;

}
#blog-btn {
    width: 135px;
    font-size: 15px;
    height: 59px;
    border-width: 2px;
    margin: 0 0 70px 201px;
}
#blog-heading{
    width: 446.04px;
height: 100%;

font-family: 'Calibri';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 120%;
/* or 38px */

letter-spacing: 4px;
text-transform: uppercase;

/* NeuWhite */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#blog-para{
    width: 549px;
    height: 100%;

font-family: 'Calibri';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 160%;
/* identical to box height, or 32px */


/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
#blog-date{
    height: 100%;

font-family: 'Calibri';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 160%;
/* or 22px */

letter-spacing: 1px;

/* White */

color: #FFFFFF;

opacity: 0.4;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

/* Tab setting */
@media (max-width: 768px) {
    #blog-main {
        width: 100%;
        height: 535px;
    }
    .blog-box {
        width: 200px;
        height: 200px;
        left: 0px;
        top: 0px;
        background: white;
        mix-blend-mode: normal;
        opacity: 0.2;
        margin: 130px 0 0 110px;
        border-top-left-radius: 74px;
    }
    #blog-box-nm {
        width: 171px;
        height: 120px;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 90px;
        line-height: 120px;
        display: flex;
        align-items: center;
        text-align: right;
        text-transform: uppercase;
        transform: rotate(-90deg);
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: -170px 0 0 118px;
        -webkit-text-stroke: 2px white;
        -webkit-text-fill-color: transparent;
    }
    #blog-heading {
        width: 60%;
        height: 100%;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 133%;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: -130px 0 0 0;
    }
    #blog-content {
        color: white;
        margin: 267px 0 0 48px;
        height: 100%;

    }
    #blog-para {
        width: 60%;
        height: 100%;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 160%;
        color: #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: -0 0 31px 0;
    }
    #blog-btn {
        width: 135px;
        font-size: 15px;
        height: 59px;
        border-width: 2px;
        margin: 0px 0 70px 110px;
    }
}
/* Mobile setting */
@media (max-width: 320px) {
    .blog-box {
        width: 200px;
        height: 200px;
        left: 0px;
        top: 0px;
        background: white;
        mix-blend-mode: normal;
        opacity: 0.2;
        margin: 130px 0 0 80px;
        border-top-left-radius: 74px;
    }
    #blog-heading {
        width: 100%;
        height: 100%;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 133%;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: -130px 0 0 -35px;
    }
#blog-h1 {
    width: 219px;
    height: 100%;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: white;
    margin: 110px 0 0 70px;
    -webkit-text-stroke: 1px #d9d8d8;
    -webkit-text-fill-color: transparent;
}
#blog-h2 {
    width: 40%;
    height: 100%;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 20px 0 0 120px;
}
#blog-h2-line {
    width: 233.88px;
    height: 0px;
    border: 1.6px solid #FFFFFF;
    margin: -38px 0 0 75px;
}
#blog-content-main{
    display: block;
}
#blog-content {
    color: white;
    margin: 217px 0 0 123px;
    width: 60%;
    height: 100%;

}
#blog-btn {
    width: 135px;
    font-size: 15px;
    height: 59px;
    border-width: 2px;
    margin: 180px 0 70px 110px;
}
#blog-date {
    height: 100%;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 1px;
    color: #FFFFFF;
    opacity: 0.4;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 51%;
}

#blog-para {
    width: 100%;
    height: 100%;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0 0 31px -36px;
}
}