
#insight-h1{
    width: 314.07px;
    height: 100%;
    margin: 95px 0 0 135px;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 63px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #707070;
	-webkit-text-fill-color: transparent;
    
}
#insight-h2{
    width: 310px;
    height: 100%;
    margin: 0 0 0 313px;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
#insight-h2-line{
    width: 480px;
    height: 0px;
    margin: -28px 0 0 133px;
    border: 1.6px solid #FFFFFF;
}
#insight-box{
width: 550px;
height: 408px;
background: #4e4e4e;;
border-top-left-radius: 50px;
margin: -75px 0 0 0 ;
}
#insight-main2{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 500px));
    grid-gap: 0px;
    justify-content: space-around;
}
#insight-content-main{
    margin: 28px 0 0 -64px;
}
#insight-box-nm{
    width: 171px;
    height: 120px;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 168px;
    line-height: 120px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: uppercase;
    transform: rotate(-90deg);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 230px 0 0 0;
    -webkit-text-stroke: 5px black;
	-webkit-text-fill-color: transparent;
    padding: 258px 0 230px 0;
}
#insight-box-h-1{
    width: 400px;
    height: 100%;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-left: 110px;
    padding: 0 0 30px 110px;

}
#insight-box-h-2{
    width: 440px;
    height: 100%;
    
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */
    
    
    /* White */
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-left: 109px;
    padding: 0 0 30px 110px;

}
#insight-box-h-3{
    width: 234px;
    height: 100%;

font-family: 'Calibri';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 160%;
/* or 22px */

letter-spacing: 1px;

/* White */

color: #FFFFFF;

opacity: 0.4;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
padding-left: 110px;
}
#insight-box-h-4{
    height: 100%;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 1px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-left: 113px;
    margin-bottom: 30px;
    

}
#insight-box-arrow{
    color: white;
    float: right;
    width: 35px;
    height: 35px;
    background-color: black;
    border-radius: 45px;
    margin: 20px 15px 0 0;
    padding: 10px 0 0 10px;
    cursor: pointer;
}
/* Tab setting */
@media (max-width: 768px) {
    #insight-box {
        width: 260px;
        height: 230px;
        background: #4e4e4e;
        border-top-left-radius: 50px;
        margin: -75px 0 0 75px;
    }
    #insight-box-nm {
        width: 171px;
    height: 120px;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 120px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: uppercase;
    transform: rotate(-90deg);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 230px 0 0 0;
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: transparent;
    padding: 0 0 0px 0;
    color: black;
    padding: 39px 0 100px 0;
    }
    #insight-box-h-1 {
        width: 60%;
        height: 100%;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        padding: 33px 0 5px 137px;

}
#insight-box-h-2 {
    width: 60%;
    height: 100%;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-left: 137px;
}
#insight-box-h-3 {
    width: 61%;
    height: 100%;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 1px;
    color: #FFFFFF;
    opacity: 0.4;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-left: 137px;
}
#insight-box-h-4 {
    height: 22px;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 1px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-left: 113px;
    margin-bottom: 30px;
    padding-left: 135px;

}
#insight-h1 {
    width: 314.07px;
    height: 56px;
    margin: 95px 0 0 135px;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #707070;
    -webkit-text-fill-color: transparent;
}
#insight-h2 {
    width: 310px;
    height: 56px;
    margin: 0 0 0 313px;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
#insight-h2-line {
    width: 480px;
    height: 0px;
    margin: -55px 0 0 133px;
    border: 1.6px solid #FFFFFF;
}
}


/* mobile Setting */
@media (max-width: 320px) {
    #insight-h1 {
        width: 70%;
        height: 100%;
        margin: 95px 0 0 70px;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 160%;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        -webkit-text-stroke: 1px #707070;
        -webkit-text-fill-color: transparent;
    }
    #insight-h2 {
        width: 54%;
        height: 100%;
        margin: 0 0 0 108px;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 160%;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    #insight-h2-line {
        width: 237px;
        height: 0px;
        margin: -28px 0 0 68px;
        border: 1.6px solid #FFFFFF;
    }
    #insight-box {
        width: 230px;
        height: 170px;
        background: #4e4e4e;
        border-top-left-radius: 50px;
        margin: 0px 0 0 65px;
    
    }
    
    #insight-main2{
        display: block;
    }
    #insight-box-h-1 {
        width: 63%;
        height: 100%;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        padding-left: 125px;
    }
    #insight-box-h-2 {
        width: 60%;
        height: 100%;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 160%;
        color: #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
        padding-left: 125px;
    }
    #insight-box-h-3 {
        width: 61%;
        height: 100%;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 1px;
        color: #FFFFFF;
        opacity: 0.4;
        flex: none;
        order: 0;
        flex-grow: 0;
        padding-left: 125px;
    }
    #insight-box-h-4 {
        height: 100%;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 160%;
        letter-spacing: 1px;
        color: #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
        padding-left: 125px;
        margin: 35px 0 0 0;
    }
    #insight-box-nm {
        width: 171px;
        height: 100%;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 120px;
        display: flex;
        align-items: center;
        text-align: right;
        text-transform: uppercase;
        transform: rotate(-90deg);
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 230px 0 0 0;
        -webkit-text-stroke: 2px black;
        -webkit-text-fill-color: transparent;
        padding: 0 0 0px 0;
        color: black;
        padding: 0 0 35px 0;
    }


}