#Nav-main{
    background-color:transparent;
    border-bottom-color: transparent;
    box-shadow: none;
}
.navbar-icons{
margin: 0 0 0 970px;
}
.icon-cursor{
    cursor: pointer;
}
/* Tab setting */

@media (max-width: 768px) {
    .navbar-icons{
        margin: 0 0 0 750px;
        }
}



