#Nav-main{
    background-color:transparent;
    border-bottom-color: transparent;
    box-shadow: none;
    height: 0;
}
.navbar-icons{
    margin: 0 0 0 970px;
    display: flex;
padding: -20px;
    }

/* Tab setting */





