body{
    width: 100%;
}

#contact-main{
    width: 100%;
    height: 100%;
}
.contact-icons {
    float: right;
    display: flex;
    position: inherit;
    margin: -100% 30px 0 0;
    color: #FFFFFF;
}
#contact-content{
width: 1060px;
height: 264px;
font-family: 'Calibri';
font-style: normal;
font-weight: 700;
font-size: 88px;
line-height: 100%;
display: flex;
align-items: center;
text-transform: uppercase;
margin: 131px 0 120px 155px;
-webkit-text-stroke: 1px #9f9f9f;
-webkit-text-fill-color: transparent;
}
#contact-mid-text{
    position: absolute;
    width: 420px;
    height: 88px;
    margin: -295px 0 0 440px;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
#contact-solution-line{
    position: absolute;
    width: 536px;
    height: 0px;
    left: 370.31px;
    top: 265px;
    background: #FFFFFF;
    border: 1.6px solid #FFFFFF;
}
#contact-btn{
    margin-top: 80px;
    margin-left: 160px;
}
.form-text-lable{
    width: 1009.68px;
    height: 56.7px;
    margin: 40px 0 17px 160px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    font-family: 'Calibri';
    padding-left: 10px;
}
label{
    color: white;
    margin: 0px 0 0 160px;
    font-family: 'Calibri';
    text-transform: uppercase;
}
.form-Message-lable{
    width: 1009.68px;
    height: 200px;
    margin: 40px 0 17px 160px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    font-family: 'Calibri';
    padding-left: 10px;

}
@media (max-width: 768px) { 
    .contact-icons {
        float: right;
        display: flex;
        position: inherit;
        margin: -177% 30px 0 0;
        color: #FFFFFF;
    }
    #contact-content {
        width: 56%;
        height: 264px;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        margin: 131px 0 90px 155px;
        -webkit-text-stroke: 1px #9f9f9f;
        -webkit-text-fill-color: transparent;
    }
    #contact-mid-text {
        position: absolute;
        width: 29%;
        height: 88px;
        margin: -285px 0 0 275px;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    #contact-solution-line {
        position: absolute;
        width: 30%;
        height: 0px;
        left: 255.31px;
        top: 245px;
        background: #FFFFFF;
        border: 1.6px solid #FFFFFF;
    }
    .form-text-lable {
        width: 80%;
        height: 56.7px;
        margin: 40px 0 17px 75px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        font-size: 20px;
        font-family: 'Calibri';
        padding-left: 10px;
    }
    .form-Message-lable {
        width: 80%;
        height: 200px;
        margin: 40px 0 17px 75px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        font-size: 20px;
        font-family: 'Calibri';
        padding-left: 10px;
    }
    label {
        color: white;
        margin: 0 0 0 80px;
        font-family: 'Calibri';
        text-transform: uppercase;
    }
    #contact-btn {
        margin-top: 80px;
        margin-left: 70px;
    }
}


/* Mobile setting */
@media (max-width: 320px) { 
    #contact-content {
        width: 75%;
        height: 264px;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 100%;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        margin: 132px 0 -20px 63px;
        -webkit-text-stroke: 1px #9f9f9f;
        -webkit-text-fill-color: transparent;
    }
    #contact-mid-text {
        position: absolute;
        width: 29%;
        height: 88px;
        margin: -168px 0 0 129px;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    #contact-solution-line {
        position: absolute;
        width: 35%;
        height: 0px;
        left: 119.31px;
        top: 250px;
        background: #FFFFFF;
        border: 1.6px solid #FFFFFF;
    }
    
    .form-text-lable {
        width: 70%;
        height: 56.7px;
        margin: 40px 0 17px 68px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        font-size: 20px;
        font-family: 'Calibri';
        padding-left: 10px;
    }
    .contact-icons {
        float: right;
        display: flex;
        position: inherit;
        margin: -370% 30px 0 0;
        color: #FFFFFF;
    }
    .form-Message-lable {
        width: 70%;
        height: 200px;
        margin: 40px 0 17px 60px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        font-size: 20px;
        font-family: 'Calibri';
        padding-left: 10px;
    }
    label {
        color: white;
        margin: 0 0 0 64px;
        font-family: 'Calibri';
        text-transform: uppercase;
    }
    #contact-btn {
        margin-top: 45px;
        margin-left: 65px;
    }
}